<div class="sidebar">

</div>
<div class="main-content">
  <div class="container container-custom">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center">
          OdontoFácil: Seu sistema de gerenciamento de consultas!
        </h1>
        <p class="lead text-center">
          Nosso objetivo é facilitar sua vida, dentista, permitindo que você agende suas consultas com facilidade, gerencie seus pacientes com praticidade e acompanhe seu histórico de atendimentos de maneira conveniente.
        </p>
        <p class="text-center">
          Com esse sistema você pode:
        </p>
        <ul class="list-group text-center">
          <li class="list-group-item">Adicionar novas consultas</li>
          <li class="list-group-item">Visualizar consultas existentes</li>
          <li class="list-group-item">Excluir consultas que já foram concluídas ou não são mais necessárias</li>
        </ul>
        <div class="text-center mt-4">
          <a class="btn btn-primary btn-lg">Comece agora mesmo a organizar suas consultas de forma eficiente!</a>
        </div>
      </div>
    </div>
  </div>
</div>
